.toggle__input {
  display: none;
}

.toggle__input:checked ~ #explain-panel {
  
  display: flex;
}    
.toggle__input:not(:checked) ~ #explain-panel {
  display: none;
}

.toggle__input + label .toggle__less,
.toggle__input:checked + label .toggle__more  {    
    display: none;
}

.toggle__input:checked + label .toggle__less {
    display: inline;
}

.toggle__input + label:hover {
  color: rgb(92, 122, 255);
}



.flex-container {
  display: flex;
  padding: 0.2em;
  /*background-color: rgb(145, 103, 60);*/
}

#explain-panel {
  flex: 1;
}

.demo-app {

  text-align: center;
  flex: 3;
}

#todoPoints > div:nth-child(odd) {
  background-color: rgb(199, 199, 199);
}

#todoPoints > div > input[type=text] {
  width: 70%;
}